{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Wacky Wish Widget</title>
</head>
<body>
    <h1>Wacky Wish Widget</h1>
    {% if wish_list|length == 0 %}
        <h3>no wishes to display :(</h3>
        <hr>
        {% else %}
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for wish in wish_list %}
                <tr>
                    <td>{{ wish.description }}</td>
                    <td>{{ wish.quantity }}</td>
                    <td>
                        <form action="{% url 'delete' wish.id %}">
                            {% csrf_token %}
                            <button type="submit" class="pure-button">X</button>                            
                        </form>
                    </td>
                </tr>
                {% endfor %}            
            </tbody>
        </table>
        {% endif %}

        <h4>Make a Wish</h4>
        <!-- form goes here -->
        <form class="pure-form" action="{% url 'add_wish' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="pure-button" type="submit">Make a Wish</button>
    </form>
    <br>
    <footer>All Rights Reserved. Make your wishes come true! &copy; 2020 Wacky Wish Widget</footer>
</body>
</html>